* {
  box-sizing: border-box;
}

body {
  background: #555;
}

.macbook {
  position: relative;

  width: 650px;
  height: 908px;

  left: 50%;
  margin-left: -325px;

  font-family: Helvetica Neue;
}

$color: silver;

.ribbon {
  position: absolute;
  z-index: 1;
}

.flag {
  height: 100px;
}

// top start

.top {
  position: relative;
  width: 100%;
  height: 432px;
  padding: 30px;

  border-radius: 20px;
  background-color: #1A1A1A;
  box-shadow: 0 0 0 1px #555, 0 0 0 3px #111, 0 0 1px 4px $color;

  &::after {
    content: 'MacBook Pro';
    position: absolute;
    width: 200px;
    bottom: 9px;
    left: 50%;
    margin-left: -100px;

    font-weight: 200;
    text-align: center;
    font-size: 14px;
    color: darken($color, 10%);
    z-index: 1;
  }
}

.webcam {
  position: absolute;
  height: 4px;
  width: 4px;
  top: 10px;
  left: 50%;
  margin-left: -2px;
  
  background-color: #444;
  border-radius: 50%;
}

.terminal {
  width: 100%;
  height: 100%;
}

// top end

// bottom start

.bottom {
  position: relative;
  top: -6px;
  width: 100%;
  height: 427px;

  border-radius: 20px;
  background-color: $color;
  border-bottom: 1px solid darken($color, 10%);
}

.bottom::before {
  content: '';
  position: absolute;
  width: 476px;
  height: 23px;
  left: 50%;
  margin-left: -238px;
  background: linear-gradient(#000 0%, #333 35%, #000 100%);
  border-radius: 0 0 3px 3px;
}

.bottom::after {
  content: '';
  position: absolute;

  width: 130px;
  height: 6px;

  top: 100%;
  left: 50%;

  margin-top: -5px;
  margin-left: -65px;
  background: linear-gradient(darken($color, 25%), darken($color, 5%));
  border-radius: 10px 10px 0 0;
}

.power {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 15px;
  top: 10px;

  border-radius: 50%;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  color: rgba(0,0,0,.4);
  transform: rotate(45deg);
}

.mic {
  position: absolute;
  width: 4px;
  height: 4px;
  left: 60px;
  top: 19px;

  background-color: rgba(0,0,0,.2);
  border-radius: 50%;
}

.keyboard {
  position: absolute;
  margin: 32px;
  padding: 10px;
  margin-top: 33px;

  background: $color;
  border-radius: 10px;
  border: 1px solid lighten($color, 3%);
  border-top-color: darken($color, 7%);
  box-shadow: lighten($color, 5%) 0 0 1px 5px inset;
  background-color: lighten($color, 3%);

  -webkit-user-select: none;
  user-select: none;
}

.bottom:hover {
  .keyboard {

    .key {
      color: #FFF;
      text-shadow: 0 0 #FFF;
      box-shadow: #FFF 0 1px 3px 2px;
    }
  }
}

.keyboard::before {
  position: absolute;
  content: '';
  top: 1px;
  width: 96%;
  box-shadow: rgba(0,0,0,.2) 0px 1px 5px 2px;
}

.key {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 32px;
  padding: 3px;
  line-height: 26px;
  margin: 1px 3px;
  overflow: hidden;

  background-color: #333;
  border-radius: 3px;
  border-bottom: 4px solid black;

  color: #EEE;
  text-align: center;
  cursor: pointer;
  font-size: 9px;
}

.key:active {
  height: 31px;
  margin-top: 1px;

  border-bottom-width: 2px;
}

.key.text {
  font-size: 7px;
  line-height: 35px;
}

.higher .key {
  height: 36px;
  line-height: 45px;

  &:active {
    height: 35px;
  }
}

.updown {
  display: inline-block;
  width: 34px;

  .up {
    margin: 0 0 -2px 0;
  }

  .down {
    margin: 0 0 1px 0;
  }
}

.key.flat {
  width: 34px;
  height: 20px;
  line-height: 11px;

  &:active {
    height: 19px;
  }
}

.key.medium {
  width: 48px;
}

.key.large {
  width: 60px;
}

.key.xlarge {
  width: 80px;
}

.key.space {
  width: 190px;
}

.key.command {
  width: 40px;
  &.l::before {
    text-align: right;
  }
  &.r::before {
    text-align: left;
  }
}

.higher {
  .flat {
    width: 35px;
    height: 18px;
  }

  .key[data-shift].text::before {
    line-height: 16px;
  }
}

.key[data-shift] {
  line-height: 12px;

  &::before {
    content: attr(data-shift);
    display: block;
    font-size: 8px;
    line-height: 11px;
  }

  &.text::before {
    font-size: 6px;
    line-height: 12px;
  }
}

.key.fn {
  text-align: right;
  font-size: 7px;
  line-height: 17px;
  padding-right: 3px;
}

.caps-lock::before {
  content: '';
  position: absolute;
  display: block;
  width: 3px;
  height: 3px;
  top: 5px;

  background-color: #ddd;
  border-radius: 50%;
}

$green-light: rgba(#4F4, .8);
.caps-lock.active::before {
  background-color: $green-light;
  box-shadow: 0 0 6px $green-light;
}

.trackpad {
  position: absolute;

  left: 50%;
  bottom: 14px;

  width: 210px;
  height: 135px;
  margin-left: -105px;

  background-color: darken($color, 10%);
  border-radius: 10px;
  
  border-color: black;
  border: 1px solid darken($color, 20%);
  border-top-width: 2px;
  border-bottom-color: lighten($color, 10%);
}

.left {
  text-align: left;
  padding-left: 1%;
}

.right  {
  text-align: right;
  padding-right: 1%;
}

// bottom end

// border start

.border {
  position: relative;
  top: -23px;
  width: 100%;
  border-radius: 0 0 17px 17px;
  height: 30px;
  background: darken($color, 5%);
  z-index: -1;

  &::before {
    content: '';
    position: absolute;

    width: 130px;
    height: 6px;

    top: 23px;
    left: 50%;

    margin-top: -7px;
    margin-left: -65px;
    background: linear-gradient(darken($color, 5%), lighten($color, 25%));
    border-radius: 0 0 10px 10px;
    border: 1px solid darken($color, 10%);
  }
  
  &::after {
    content: '';
    position: absolute;

    width: 30px;
    height: 2px;

    top: 28px;
    right: 40px;

    margin-top: -7px;
    margin-left: -65px;
    background: #222;
    border-radius: 50%;
    border-bottom: 1px solid lighten($color, 50%);
  }
}

// border end
